:root {
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-do-header-absoluto: #0F90B4;
    --cor-do-header: #3696A3;
    --cor-das-palavras-hb: black;
    --cor-das-palavras-principais: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--cor-de-fundo);
}

.container__cabecario_absoluto {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-do-header-absoluto);
    width: 100%;
    height: 27px;
}

strong {
    color: var(--cor-das-palavras-principais);
}

.container__absoluto {
    display: flex;
    justify-content: space-around;
}

.container__logos {
    display: inline-block;
}

.container__hblink {
    color: black;
}

.container__header {
    padding-top: 35px;
    display: flex;
    justify-content: space-around;
    margin: 0 5em;
    text-decoration: none;
}

.container__header a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    color: black;
}

.container__linha_cabecario {
    color: black;
}

.container__barra {
    background: var(--cor-do-header);
    height: 153px;
}

.container__logo {
    float: left;
    height: 100%;
}

.container__escova {
    display: flex;
    justify-content: space-around;
    margin-left: 93%;
}

.container__brasil {
    width: 33px;
    height: 23px;
}

.container__linha {
    margin-left: 9em;
    height: 0px;
    left: 144px;
}

.container__linha {
   border: 1px solid black;
}




.container__tabelinha {
    border-radius: 15px;
    margin-right: 5em;
    margin-left: 40em;
    margin-top: -29px;
    display: flex;
    background-color: #25C7DC;
    height: 65px;
    width: 690px;
    float: right;
}

.container__rodape {
    background-color: #3696A3;
    height: 610px;
}

.central {
    font-size: medium;
    margin-left: 390px;
}

.central1 {
    font-size: x-large;
    margin: 2em 0 0;
    margin-left: 387px;
    color: #39d7ec;
}

.container__linha_1 {
    border: 1px solid black;
    margin: 1em;
    margin-left: 5em;
    margin-right: 5em;
}

.container__imagens {
    margin-left: 66em;
}

.container__linha_pé {
    display: flex;
    border: 1px solid black;
}

.certi {
    color: #39d7ec;
}

.container__3barra {
    margin:2em 0;
}

.container__4barra {
    margin: 2em 0;
}

.texto1 {
    margin-top: -14em;
    margin-left: 30em;
}

.container__privacidade {
    margin: 0 0 8em;
    margin-top: -11.8em;
    margin-left: 50em;
}

.container__titulo2 {
    font-size: x-large;
    color: #39d7ec;
}

.container__titulo3 {
    font-size: x-large;
    color: #39d7ec;
}

.container__texto2 {
    margin-top: 1em;
    font-size: larger;
    font-weight: 350;
}

.container__texto3 {
    margin-top: 1em;
    font-size: larger;
    font-weight: 350;
}

.container__linha_2 {
    margin: 0 5em;
    border: 1px solid black;
}

.container__color {
    color: #25C7DC;
}

.container__chao {
    margin: 1em 1em;
   display: flex;
   justify-content: space-around;
}

.container__img {
    margin-left: 3em;
    display: flex;
    justify-content: space-around;
}

h4 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.container__redes {
    color: #39d7ec;
}

.mainseparo {
    margin-bottom: 230px;
}

.mainseparo2 {
    margin-bottom: 980px;
}

.mainseparo3 {
    margin-bottom: 600px;
}